.centered {
  position: absolute;
  top: 50% !important;
  left: 40%;
  transform: translate(-50%, -50%);
  color: white;
}

.letter-spacing {
  letter-spacing: 8px;
}

@media (max-width: 767.98px) {
  .phoneImages {
    display: none;
  }
}

@media (max-width: 750px) {
  .centered {
    left: 40%;
    top: 35%;
    justify-content: center;
  }
}
/* 
@media (max-width: 750px) {
  .bgHome {
    height: 500px !important;
  }
} */
